* text=auto

# All files
*.* lockable

# Unity files
*.meta -text merge=unityyamlmerge diff lockable
*.unity -text merge=unityyamlmerge diff lockable
*.asset -text merge=unityyamlmerge diff lockable
*.prefab -text merge=unityyamlmerge diff lockable
*.mat -text merge=unityyamlmerge diff lockable
*.anim -text merge=unityyamlmerge diff lockable
*.controller -text merge=unityyamlmerge diff lockable
*.overrideController -text merge=unityyamlmerge diff lockable
*.physicMaterial -text merge=unityyamlmerge diff lockable
*.physicsMaterial2D -text merge=unityyamlmerge diff lockable
*.playable -text merge=unityyamlmerge diff lockable
*.mask -text merge=unityyamlmerge diff lockable
*.brush -text merge=unityyamlmerge diff lockable
*.flare -text merge=unityyamlmerge diff lockable
*.fontsettings -text merge=unityyamlmerge diff lockable
*.guiskin -text merge=unityyamlmerge diff lockable
*.giparams -text merge=unityyamlmerge diff lockable
*.renderTexture -text merge=unityyamlmerge diff lockable
*.spriteatlas -text merge=unityyamlmerge diff lockable
*.terrainlayer -text merge=unityyamlmerge diff lockable
*.mixer -text merge=unityyamlmerge diff lockable
*.shadervariants -text merge=unityyamlmerge diff lockable
